<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-end  " style="background-color:  #7653CE; ">
        <img src="../img/logo2.png" alt="" style="width: 10rem;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto  ">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        <div><span> inicio </span></div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="# ">
                        <div> <span onclick="men() "> Mensaje en Consola </span></div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalogo.html ">
                        <div><span> Catálogo </span></div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="agregar-prod.html ">
                        <div><span> Añadir producto </span></div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="formulario1.html">
                        <div><span> Formularios </span></div>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search "></i></button>
            </form>
            <span>
                <a class="nav-link" href="carrito.html">
                    <div>
                        <i class="fas fa-shopping-cart " style="font-size: 20px; padding-right: 20px; "></i>
                    </div>
                </a>
            </span>
        </div>
    </nav>

</body>

</html>